{% extends 'base.html' %}

{% block title %}
Requisites list
{% endblock %}

{% block content %}
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Телефон</th>
        <th>Тип платежа</th>
        <th>Тип карты/счета</th>
        <th>Лимит</th>
    </tr>
    {% for requisite in page_obj %}
    <tr>
        <td>{{ requisite.id }}</td>
        <td>{{ requisite.surname }}</td>
        <td>{{ requisite.name }}</td>
        <td>{{ requisite.patronymic }}</td>
        <td>{{ requisite.phone }}</td>
        <td>{{ requisite.payment_type }}</td>
        <td>{{ requisite.account_type }}</td>
        <td>{{ requisite.limit }}</td>
    </tr>
    {% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    </span>
</div>
{% endblock %}